n8n/workflows/email-reply.json
{
  "name": "Email Reply Handler (Lean/Brevo)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-reply",
        "responseMode": "responseNode"
      },
      "id": "webhook-reply",
      "name": "Webhook: Email Reply",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/webhooks/email-reply",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $json.body.lead_id, body: $json.body.reply_text, subject: $json.body.subject || null }) }}"
      },
      "id": "handle-reply",
      "name": "API: Handle Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, classification: $json.classification, auto_reply: $json.auto_reply, voice_queue: $json.voice_queue }) }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook: Email Reply": { "main": [[{ "node": "API: Handle Reply", "type": "main", "index": 0 }]] },
    "API: Handle Reply": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "agentur" }, { "name": "lean" }]
}
